{% block server_redirect %}
{% if item.server_name_redirect is defined %}
server {
    listen       {{ item.listen_redirect | default('80') }};
    server_name  {{ item.server_name_redirect }};
    return       301 https://{{ item.server_name.split(' ')[0] }}$request_uri;
}
{% endif %}
{% endblock %}

server {
    {% block server_begin %}{% endblock %}

    {% block server_basic -%}
    listen {{ item.listen | default('80') }};

{% if item.server_name is defined %}
    server_name {{ item.server_name }};
{% endif %}

{% if item.root is defined %}
    root {{ item.root }};
{% endif %}

    index {{ item.index | default('index.html index.htm') }};

{% if item.error_page is defined %}
    error_page {{ item.error_page }};
{% endif %}
{% if item.access_log is defined %}
    access_log {{ item.access_log }};
{% endif %}
{% if item.error_log is defined %}
    error_log {{ item.error_log }} error;
{% endif %}

{% if item.return is defined %}
    return {{ item.return }};
{% endif %}
    {% endblock %}

    {% block server_end %}{% endblock %}

    add_header X-Content-Type-Options nosniff;
    add_header X-XSS-Protection "1; mode=block";
    add_header X-Frame-Options "SAMEORIGIN";

    if ($http_user_agent ~* "WordPress") {
      return 403;
    }

    location / {
      # try to serve file directly, fallback to app.php
      try_files $uri $uri/ /index.php$is_args$args;
    }

    # PROD / DEV
    location ~ ^/index\.php(/|$) {
        fastcgi_pass 127.0.0.1:9000;
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $realpath_root$fastcgi_script_name;
        fastcgi_param DOCUMENT_ROOT $realpath_root;
    }

    location ~*  \.(ico|css|woff)$ {
      access_log        off;
      log_not_found     off;
      expires 365d;
    }

    location ~ \.(jpg|jpeg|png|gif|svg)$ {
     # Set rules only if the file actually exists.
      if (-f $request_filename) {
       # Set expiry date to 1 year in the future.
        expires 365d;

       # Further optimize by not logging access to these files.
        access_log off;
      }

      try_files $uri /index.php$is_args$args;
    }

    location ~ \.php$ {
      return 404;
    }

{% if item.extra_parameters is defined %}
    {{ item.extra_parameters|indent(4) }}
{% endif %}
}
